.product{
    background: rgba(252, 249, 249, 0.919);
    padding: 20px;
    &__wrapper{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
        @media (max-width:660px) {
            margin-top: 10px;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 10px;
        }
    }
    &__card{
        border-radius: 10px;
        padding-bottom: 30px;
        background: #fff;
        display: flex;
        flex-direction: column;
        gap: 8px;
        img{
            width: 100%;
            border-radius: 5px;
        }
    }
    .card__desc{
        padding-top: 10px;
        padding-left: 11px;
        padding-right: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media (max-width:680px){
            p{
                font-size: 14px;
            }
            i{
                &:hover{
                    transform: scale(1.1);
                }
            }
        }
        p{
            font-size: 17px;
            font-weight: 400;
        }
        i{
            &:hover{
                padding-right: 5px;
                color: aqua;
            }
        }
    }
    .card__cost{
        padding-left: 10px;
        padding-right: 10px;
        font-size: 20px;
        padding-top: 5px;
        transition: .24s;
        cursor: pointer;
        &:hover{
            color: aqua;
        }
    }
    .card__info{
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 40px;
        font-weight: 600;
        font-size: 16px;
        @media (max-width:660px){
            font-size: 15px;
            font-weight: 400;
        }
    }
}
